.hero {
  height: 82vh;
  background: radial-gradient(circle, #111, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 64px;
  color: #fff;
}

.hero span {
  color: #dc2626;
}

.hero p {
  color: #aaa;
  font-size: 20px;
}

.home-section {
  padding: 80px;
  text-align: center;
  background: #050505;
  color: #ccc;
}
