.navbar {
  background: #000;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: #dc2626;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
}

.nav-links a:hover {
  color: #fff;
}

.register-btn {
  padding: 8px 16px;
  border: 1px solid #dc2626;
  color: #dc2626 !important;
  border-radius: 10px;
}
